/* CSS Document */
html {overflow-x:hidden;}
body{ margin:0px; padding:0px; background:#f5f5f5; font-family:"宋体"}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0; margin:0; padding:0}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}

/*layout*/
header, article{margin:0 auto}
header{height:35px; background:#252525;}
header .user{ background:url(../image/people.png) no-repeat 0 11px; padding: 0px 50px 0 21px; line-height:35px; color:#FFF; float:right; font-size:12px}

article{width:1278px; border:1px solid #333; border-top:0; content:""; display:table} 
section{float:left}
section.left{ width:354px; height:665px; background:url(../image/leftbg.jpg) no-repeat;}
section.left .player{ height:181px; padding:45px 25px 0 45px; background:rgba(255,255,255,0.3);/*前三个参数为rgb颜色，第四个参数为透明度*/}
section.left .player .name{content:""; display:table}
section.left .player .name img{width:90px; height:87px; overflow:hidden; float:left}
section.left .player .msg{float:left; margin:10px 0 0 20px; line-height:20px}
section.left .player .msg h2{font-weight:normal; font-size:16px; color:#999; font-family:Arial, Helvetica, sans-serif}
section.left .player .msg p{font-size:12px; color:#eee}
section.left .player .msg .album_ctrl{margin-top:15px; content:""; display:table}
section.left .player .msg .album_ctrl .icon_share, section.left .player .msg .album_ctrl .like, .player .msg .album_ctrl .like_on{height:16px; display:inline-block; cursor:pointer}
section.left .player .msg .album_ctrl .icon_share{width:19px; background:url(../image/share.png) no-repeat}
section.left .player .msg .album_ctrl .like {width:14px; background:url(../image/like.png) no-repeat}
section.left .player .msg .album_ctrl .like:hover, section.left .player .msg .album_ctrl .like_on{width:14px; background:url(../image/like_on.png) no-repeat}
section.left .player .progress{width:287px; height:29px; overflow:hidden; margin:15px 0}
section.left .player .control{width:287px; content:""; display:table}
section.left .player .control span{float:left; display:inline-block; border-radius:20px; border:1px solid #fff; margin-right:5px; cursor:pointer}
section.left .player .control .ico_pause{width:20px; height:20px; background:url(../image/pause.png) no-repeat center; margin-right:7px }
section.left .player .control .ico_pause:hover{background:url(../image/pause_hover.png) no-repeat center;}
section.left .player .control .ico_next{width:16px; height:16px; background:url(../image/next.png) no-repeat 3px center; margin-top:4px}
section.left .player .control .ico_next:hover{ background:url(../image/next_hover.png) no-repeat 3px center;}
section.left .player .control .ico_sound{width:16px; height:16px; background:url(../image/sound.png) no-repeat center; margin-top:4px}
section.left .player .control .ico_sound:hover{ background:url(../image/sound_hover.png) no-repeat center;}
section.left .player .control a{float:right; cursor:pointer; padding:0px 3px; border-radius:3px; border:1px solid #fff; color:#fff; font-size:12px; background:#959595; margin-left:5px}
section.left .player .control a:hover{color:#e1e1e1}
section.left .player .control button{float:right; cursor:pointer; padding:0px 3px; border-radius:3px; border:1px solid #fff; color:#fff; font-size:12px; background:#959595; margin-left:5px}
section.left .player .control button:hover{color:#e1e1e1}
section.left .p-title{ font-size:13px; color:#fff; padding:20px 20px 0 20px;}
section.left .tag span{ background:url(../image/l_icon.png) no-repeat; height:17px; line-height:17px; padding: 0 5px 0 10px; float:left; margin:2px 0 2px 10px; font-size:13px; color:#fff; max-width:150px; overflow:hidden; cursor:pointer}
section.left .p-txt, section.left .music_lyric{ font-size:12px; line-height:18px; color:#fff; padding:20px;}
section.left.name  img{border-radius: 50%;}
section.left .music_story{overflow:hidden}
section.left .music_lyric{font-family:Arial, Helvetica, sans-serif,"宋体"; display:none;}
section.left .music_lyric pre{line-height:22px;font-family:Arial, Helvetica, sans-serif,"宋体"}

section.center{ width:589px; padding:25px 30px 0 30px}
section.center ul.img_wall{width:590px; height:150px; background:#111; position:relative}
section.center ul.img_wall li{width:85px; overflow:hidden; float:left; cursor:pointer}
section.center ul.img_wall li.left_arrow, section.center ul.img_wall li.right_arrow{position:absolute; background:#000; width:30px; height:150px; z-index:100; background:url(../image/black_bg_10.png) repeat}
section.center ul.img_wall li.left_arrow:hover, section.center ul.img_wall li.right_arrow:hover{ background:url(../image/black_bg_50.png) repeat}
section.center ul.img_wall li.left_arrow{left:0;}
section.center ul.img_wall li.right_arrow{right:0}
section.center ul.img_wall li.left_arrow span, section.center ul.img_wall li.right_arrow span{width:30px; height:60px; display:inline-block; background:url(../image/nav.png) no-repeat; margin-top:43px;}
section.center ul.img_wall li.left_arrow span{ background-position:0 -60px}
section.center ul.img_wall li.right_arrow span{background-position:-30px -60px}
section.center ul.img_wall li.left_arrow:hover span{ background-position:0 0}
section.center ul.img_wall li.right_arrow:hover span{background-position:-30px 0}
section.center ul.img_wall li .img_wrap{position:relative; width:85px; height:75px;}
section.center ul.img_wall li .img_wrap:hover span.img_hover{width:73px; height:63px; display:inline-block; border:6px solid #000; opacity:0.5; position:absolute}
section.center ul.img_wall li.small_img, section.center ul.img_wall li.small_img .img_wrap{width:79px}
section.center ul.img_wall li.small_img .img_wrap:hover span.img_hover{width:67px; height:63px;}
section.center ul.img_wall li.big_img, section.center ul.img_wall li.big_img .img_wrap{width:171px; height:150px}
section.center ul.img_wall li.big_img .img_wrap:hover span.img_hover{width:159px; height:138px}
.modal{display:none; position:fixed;}
#img_wall_max{ width:900px; margin:0 auto; position:relative; padding:30px; background: url(../image/modal_bg.png) repeat;  border:1px solid #ccc; min-height:250px;}
#img_wall_max button{position:absolute; width:70px; height:70px; border:none; cursor:pointer}
#img_wall_max button.arrow_left{ background:url(../image/button_left.png) no-repeat; left:100px}
#img_wall_max button.arrow_right{ background:url(../image/button_right.png) no-repeat; right:100px}
#img_wall_max button.arrow_left:hover{ background:url(../image/button_left_hover.png) no-repeat;}
#img_wall_max button.arrow_right:hover{ background:url(../image/button_right_hover.png) no-repeat;}
#img_wall_max .icon_close{width:14px; height:14px; display:inline-block; background: url(../image/close.png) no-repeat; position:absolute; right:7px; top:7px; cursor:pointer}
#img_wall_max .total{text-align:center; color:#666; font-size:14px; line-height:45px; display:table; background:#eee; border-radius:3px; margin:0 auto; padding:0 20px; }
#img_wall_max .total span{color:#000; font-size:20px; margin-right:3px; font-family:Arial, Helvetica, sans-serif,"宋体"}
#img_wall_max .img_container{background:#fff; border:4px; padding:20px; max-width:500px; margin-top:100px; margin:0 auto; text-align:center; overflow:hidden; margin-bottom:10px; }

section.center .txt{width:590px; height:125px;border-top:1px solid #d0d0d0; margin-top:11px; padding-top:10px;}
section.center .txt p{ font-size:12px; margin:0px; padding:0px; line-height:16px; color:#444444;}
/*section.center .list{margin-top:11px;}
section.center .album{ width:590px; height:170px;border-top:1px solid #d0d0d0;margin-top:11px; padding-top:10px;}
section.center .album .list{ float:left;width:150px; height:170px; overflow:hidden}
section.center .album .list span{ font-size:12px; color:#313131; font-family:Arial, Helvetica, sans-serif}
/*section.center .album .list ul{ padding-top:15px;}
section.center .album .list ul li{font-size:12px; color:#636363; line-height:20px; cursor:pointer;}
section.center .album .list ul li.current, section.center .album .list ul li:hover{ color:#f7941d}
section.center .list-activity{ width:590px;border-top:1px solid #d0d0d0; margin-top:11px; padding-top:10px;} 
section.center .list-activity h3{font-weight:normal;font-family:Arial, Helvetica, sans-serif}
section.center .list-activity h3, section.center .list-activity span{font-size:12px; color:#313131; }
section.center .list-activity .la-btn{ width:24px; float:right; padding-top:20px;}
section.center .list-activity .la-btn .t-btn{border:1px solid #f7941d;color:#f7941d; cursor:pointer; background:url(../image/m_t.png) no-repeat 3px 0; width:35px; height:20px;
-moz-border-radius:3px;      /* Gecko browsers */
-webkit-border-radius:3px;   /* Webkit browsers */
border-radius:3px;            /* W3C syntax */}
section.center .list-activity .la-btn .b-btn{border:1px solid #f7941d;color:#f7941d; cursor:pointer; background:url(../image/m_b.png) no-repeat  4px 1px; width:35px; height:20px; margin-top:30px;
-moz-border-radius:3px;      /* Gecko browsers */
-webkit-border-radius:3px;   /* Webkit browsers */
border-radius:3px;            /* W3C syntax */}

section.right{ width:250px; padding:25px 0 0 20px;}
section.right h1{ font-size:13px; font-weight:bold; display:block; line-height:12px; margin-top:10px;} 
section.right .attention{ color:#767676; font-size:12px; line-height:15px;}
section.right .btncss button{ border:1px solid #f7941d;  line-height:19px; margin-top:10px; color:#f7941d; cursor:pointer;
-moz-border-radius:3px;      /* Gecko browsers */
-webkit-border-radius:3px;   /* Webkit browsers */
border-radius:3px;            /* W3C syntax */
};
section.right .txt{}
section.right  p{ width:200px; height:70px; display:block;font-size:12px; margin-top:25px;}
section.right .owner{ width:200px; border-top:1px solid #d0d0d0; margin-top:10px; padding-top:10px;}
section.right .owner a{line-height:20px; display:block; color:#f7941d; font-size:12px;  text-decoration:none;}
section.right .owner a:hover{text-decoration:underline;}
section.right .owner span{ float:left;}
section.right .owner span:hover{text-decoration:underline;}
section.right .owner img{ float:left; }

/*专辑*/
.wrapper-wair{width:430px; margin-left:10px; height:170px; float:left;}
#scrolldiv{ overflow:auto; position:relative; margin-top:8px;}
#scrolldiv .scrolltext{width:500px;height:80px;min-height:25px;float:left;overflow:hidden}
#scrolldiv .scrolltext ul{ margin-top:0; width:500px; float:left;  overflow:hidden;}
#scrolldiv .scrolltext ul li{width:500px; content:""; display:table; border-bottom:1px solid #d0d0d0; height:20px; line-height:20px; margin-bottom:5px;}
#scrolldiv .scrolltext ul li .la-left{ float:left;}
#scrolldiv .scrolltext ul li .la-left a{ color:#f7941d; text-decoration:none}
#scrolldiv .scrolltext ul li .la-left a:hover{text-decoration:underline}
#scrolldiv .scrolltext ul li .la-right{ float:right;}
#scrolldiv button{position:absolute; right:15px; border:1px solid #f7941d;color:#f7941d; cursor:pointer; width:35px; height:20px;-moz-border-radius:3px;   
-webkit-border-radius:3px;  
border-radius:3px; }         
#scrolldiv .up{background:url(../image/m_t.png) no-repeat 3px 0;  top:1px;}
#scrolldiv .down{background:url(../image/m_b.png) no-repeat 4px 1px;bottom:7px;
-moz-border-radius:3px;     
-webkit-border-radius:3px;  
border-radius:3px;}   
/*专辑歌曲滚动*/
.txtScroll-top{ width:150px;  position:relative;    }
.txtScroll-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px 0 0;  margin-top:10px  }
.txtScroll-top .hd .prev,.txtScroll-top .hd .next{ display:block;  width:53px; height:21px; float:left; margin:0 3px 0 0;  overflow:hidden;cursor:pointer; #000000;background:url("../image/music_play.png") no-repeat; }
.txtScroll-top .hd .prev{ background-position:-10px -4px; }
.txtScroll-top .hd .next{ background-position:-70px -4px; }
.txtScroll-top .hd .prev:hover{ background-position:-10px -33px; }
.txtScroll-top .hd .next:hover{ background-position:-70px -33px; }
.txtScroll-top .bd{margin-top:10px }
.txtScroll-top .infoList li{ height:24px; line-height:24px;   }
.txtScroll-top .infoList li .date{ float:right; color:#999;  }
.txtScroll-top .infoList li a{text-decoration:none;font-size:12px; color:#636363; line-height:20px; cursor:pointer;}
.txtScroll-top .infoList li a.current, .txtScroll-top .infoList li a:hover{color:#f7941d}

/* Tiny Scrollbar */
#scrollbar1 { width: 340px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 320px; height:140px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .scrollbar,
#scrollbar1 .thumb .end,
#scrollbar1 .thumb {background: transparent url(../image/bg-scrollbar.png) no-repeat; }
#scrollbar1 .scrollbar { position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track	{ background:none; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background-position: 100% 100%; height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { background-position: 100% 0; height: 5px; width: 13px; }
#scrollbar1 .disable { display: none; }       
p.likemusic{position:absolute;top: 155px;left:210px;font-weight:bold;display:none;float:left;}
p.no_likemusic{position:absolute;top: 155px;left:210px;font-weight:bold;display:none;float:left;}
.musician_attention{position:relative;font-weight:bold;color:black;display:none;float:left;}
.no_musician_attention{position:relative;font-weight:bold;color:black;display:none;float:left;}
p.login_wrong{text-align:center;color:white;display:block;font-family:"宋体",Georgia,Serif;}
div.panel_login{float:left;position:absolute;left:570px;top:280px;color:white;}

/*浏览器检测*/
#html5txt{text-align:center; padding-top:200px; font-size:30px; font-family:"微软雅黑"; color:#888}